@import "./t-normalize.css";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
}

div.container {
    display: flex;
}

div.grid {
    display: grid;
    grid-template-columns: repeat(10, 3rem);
    grid-template-rows: repeat(10, 3rem);
    margin: 3rem;
}

.grid > * {
    background: rgb(182, 207, 255);
    border: 1px whitesmoke solid;
    cursor: default;
}

.cell.friend {
    background: rgb(108, 228, 52);
}

.cell.friend.attacked {
    background: rgb(90, 114, 79);
}

.cell.foe {
    cursor: default;
    background: rgb(223, 71, 71);
}

.cell.foe.attacked {
    background: rgb(134, 91, 91);
}

.cell.active {
    cursor: pointer;

    &:hover {
        background: rgba(182, 208, 255, 0.61);
    }
}

.cell.attacked {
    cursor: default;
    background: rgb(138, 138, 138);
}
