@import "./t-normalize.css";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
}

h2 {
    position: absolute;
    top: 70vh;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
}

div.container {
    display: flex;
    align-items: center;
}

div.left,
div.right {
    display: flex;
    flex-direction: column;
}

div.grid {
    display: grid;
    grid-template-columns: repeat(10, 3rem);
    grid-template-rows: repeat(10, 3rem);
    margin: 3rem;
}

.grid > * {
    background: rgb(182, 207, 255);
    border: 1px whitesmoke solid;
    cursor: default;
}

.cell.friend {
    background: rgb(108, 228, 52);
}

.cell.friend.attacked {
    background: rgb(90, 114, 79);
}

.cell.foe {
    cursor: default;
    background: rgb(223, 71, 71);
}

.cell.foe.attacked {
    background: rgb(134, 91, 91);
}

.cell.active {
    cursor: pointer;

    &:hover {
        background: rgba(182, 208, 255, 0.61);
    }
}

.cell.friend.active {
    cursor: pointer;
    background: rgb(108, 228, 52);
}

.cell.attacked {
    cursor: default;
    background: rgb(138, 138, 138);
}

div.ships {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 30rem;
    margin: 0rem 3rem;
}

div.ship-grid {
    display: grid;
    grid-template-columns: repeat(5, 3rem);
    grid-template-rows: 3rem;
    cursor: grab;
}

.ship-grid > * {
    background: rgb(108, 228, 52);
    border: 1px whitesmoke solid;
}

div.ships * {
    flex: 0 0 0%;
}

div.ship-grid.two {
    grid-template-columns: repeat(2, 3rem);
}

div.ship-grid.three {
    grid-template-columns: repeat(3, 3rem);
}

div.ship-grid.four {
    grid-template-columns: repeat(4, 3rem);
}

button {
    margin: 3rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

select,
p {
    box-sizing: content-box;
    margin-right: 1rem;
    margin-top: 1rem;
}

span {
    font-weight: bold;
}
